<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lordx.finance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:theme="@android:style/Theme.Holo"
        android:icon="@drawable/money_icon"
        android:label="@string/app_name" android:allowBackup="true">
        <activity
            android:name=".FinanceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TelaAdd" android:theme="@android:style/Theme.Holo.NoActionBar"></activity>
        <activity android:name=".TelaSelecionaDetalhes"></activity>
        <activity android:name=".TelaMostraDetalhes" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name=".TelaModificacao"></activity>
        <activity android:name=".MonthDetails"></activity>
    </application>

</manifest>